body {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    min-width: 515px;

}

/* CABEÇALHO */

header {
text-align: center;
padding: 15px;
font-weight: 600;
background: #ffffff;
box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
display: flex;
justify-content: center;

}

/* MAIN - PARTE PRINCIPAL */

main {
margin: 0 70px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
max-width: 1200px;

}

/* FILTROS */

.filtersContainer {
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 30px;
width: 100%;
flex-wrap: wrap;

}

#botoesContainer {
display: flex;
overflow-y  : auto ;
margin-bottom: 0.625rem;
}

.estiloGeralBotoes {
border: 1.5px solid rgba(18, 184, 134, 0.05);
background: rgba(18, 184, 134, 0.05);
border-radius: 8px;
padding: 10px 20px;
cursor: pointer;
font-weight: 500;
color: #12b886;
font-size: 0.9rem;
margin-right: 10px;

}

.estiloGeralBotoes--filter:hover {
background-color: #12b886;
color: #ffffff;
transition: ease-in-out 0.2s;
}

.botoesClickStyle {
background-color: #12b886;
color: #ffffff;
}

.containerBuscaPorNome {
display: flex;
justify-content: space-between;
}

.campoBuscaPorNome {
border: none;
padding: 0 10px;
background: #f1f3f5;
border-radius: 8px;
margin-right: 5px;
width: 250px;
color: #515252;
font-weight: 400;
}

.estiloGeralBotoes--botaoBuscaPorNome {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 15px;
gap: 10px;
background: #12b886;
border: 1.5px solid #12b886;
border-radius: 8px;
}

/* VALOR TOTAL */

.priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 10px 20px;
    width: 100%;
    display: none;
}

.priceContainer div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.priceContainer div img {
    width: 2rem;
}

.priceContainer span {
    background-color: #212529;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

/*CONTAINER VITRINE*/

.containerVitrine {
display: flex;
width: 72%;
border-radius: 50px 0;
flex-wrap: wrap;

}

/* CONTAINER DE PRODUTOS */

.containerListaProdutos {
width: 100%;
}

.containerListaProdutos ul {
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-top: 30px;
width: 100%;
overflow: auto;
}
@media (max-width: 515px) {
    .containerListaProdutos ul {
        
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin-top: 30px;
        width: 100%;
        overflow: auto;
        }
    }

.containerListaProdutos ul li {
border-radius: 8px;
transition: ease-in-out 0.1s;
width: 16.875rem;
margin-bottom: 30px;
}

.containerListaProdutos ul li:hover {
box-shadow: 3px 3px 13px 1px rgb(146 146 146);
}

.containerListaProdutos ul li img {
width: auto;
}

.containerListaProdutos ul li h3 {
font-size: 1rem;
font-weight: 500;
margin: 10px 0 15px;
color: #212529;
}

.containerListaProdutos ul li p {
font-size: 0.7rem;
color: #868e96;
font-weight: 400;
margin: 10px 0;
}
.containerListaProdutos ul li span {
font-size: 0.8rem;
font-weight: 500;
margin-top: 10px;
display: inline-block;
color: #212529;
}
.containerListaProdutos ul li ol {
list-style: decimal;
color: #868e96;
font-size: 12px;
margin-left: 15px;
}
.containerListaProdutos ul li ol li {
margin: 0;
width: 100%;
}
.containerListaProdutos ul li button {
background-color: #12b8860d;
border-radius: 8px;
border: #12b8860d 1px solid;
color: #12b886;
padding: 5px;
transition: 0.5s;
}
.containerListaProdutos ul li button:hover {
background-color: #12b886;
border: #12b886 1px solid;
color: white;
}
.containerListaProdutos ul li div {
display: flex;
justify-content: space-between;
padding: 5px;
}

.Carrinho{
margin-top: 27px;

max-width:18.75rem;
display: flex;
flex-wrap: wrap;
align-content: flex-start;


}


.Carrinho__Title{
    width: 18.75rem;
    background-color:#12b886 ;
    padding: 2px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius:5px ;
}

.Carrinho__Container{
    width: 18.75rem;
   border: solid #212529 1px;
   height: 15.75rem;
   display: flex;
   flex-direction: row;
   overflow:auto;
}


.produtoimg{
    width: 120px;
    height: 80px;
}

.produto{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.p{
height: 80px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;
margin: 1px 0;
border: solid #212529 1px;
width: 296px;
justify-content: space-evenly;
align-items: baseline;
}
 
.quantidade{
    width: 300px;
    background-color:#12b886 ;
    padding: 2px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.quantidadeH2{
    margin-right: 40px;
}

.valorTotal{
    width: 300px;
    background-color:#12b886 ;
    padding: 2px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom-left-radius: 5px ; 
    border-bottom-right-radius: 5px;

}
